# .NET
**/bin/
**/obj/
**/*.user
**/.vs/
api/**/*.env
api/**/appsettings.Development.json

# Node / Ionic
mobile/node_modules/
mobile/dist/
mobile/.angular/
mobile/www/

# Environment
.env
*.env.local

# OS
.DS_Store
Thumbs.db
