<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/profile"></ion-back-button>
    </ion-buttons>
    <ion-title>Pending Users</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="load()">
        <ion-icon slot="icon-only" name="refresh-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="loading" class="ion-padding ion-text-center">
    <ion-spinner name="crescent"></ion-spinner>
  </div>

  <ng-container *ngIf="!loading">
    <ion-list *ngIf="pendingUsers.length > 0">
      <ion-item *ngFor="let user of pendingUsers">
        <ion-label>
          <h3>{{ user.firstName }} {{ user.lastName }}</h3>
          <p>{{ user.email }}</p>
        </ion-label>
        <ion-button slot="end" (click)="approve(user)">Approve</ion-button>
      </ion-item>
    </ion-list>
    <div *ngIf="pendingUsers.length === 0" class="ion-padding ion-text-center">
      <p>No users awaiting approval.</p>
    </div>
  </ng-container>
</ion-content>
