<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goToProfile()" class="profile-btn">
        <ion-avatar slot="icon-only" class="header-avatar">
          <img *ngIf="profilePicture" [src]="profilePicture" alt="Profile">
          <ion-icon *ngIf="!profilePicture" name="person-circle-outline" class="person-icon"></ion-icon>
        </ion-avatar>
      </ion-button>
    </ion-buttons>
    <ion-title>Gymnasts</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openAdd()" [disabled]="importing">
        <ion-spinner *ngIf="importing" name="crescent" slot="icon-only"></ion-spinner>
        <ion-icon *ngIf="!importing" slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <input #csvInput type="file" accept=".csv" style="display:none" (change)="onFileSelected($event)">
  <ion-toolbar>
    <ion-searchbar
      placeholder="Search gymnasts"
      (ionInput)="onSearch($event)"
      debounce="200">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list *ngIf="!loading">
    <ion-item-sliding *ngFor="let gymnast of filtered">
      <ion-item (click)="openEdit(gymnast)" button detail>
        <ion-avatar slot="start">
          <ion-img *ngIf="gymnast.imageUrl" [src]="gymnast.imageUrl"></ion-img>
          <div *ngIf="!gymnast.imageUrl" class="avatar-placeholder">
            {{ gymnast.firstName[0] }}{{ gymnast.lastName[0] }}
          </div>
        </ion-avatar>
        <ion-label>
          <h2>{{ gymnast.lastName }}, {{ gymnast.firstName }}</h2>
          <p>Level {{ gymnast.level }}</p>
        </ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="confirmDelete(gymnast)">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item *ngIf="filtered.length === 0 && !loading">
      <ion-label class="ion-text-center ion-padding">
        <p>{{ searchTerm ? 'No gymnasts match your search.' : 'No gymnasts yet. Tap + to add one.' }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <div *ngIf="loading" class="ion-padding ion-text-center">
    <ion-spinner name="crescent"></ion-spinner>
  </div>
</ion-content>
