<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>{{ isEdit ? 'Edit Gymnast' : 'Add Gymnast' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button strong (click)="save()" [disabled]="form.invalid">Save</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form">
    <ion-list lines="full" class="ion-no-margin">
      <ion-item>
        <ion-input
          formControlName="firstName"
          label="First Name"
          labelPlacement="stacked"
          placeholder="First name"
          autocapitalize="words"
          clearInput
          (ionFocus)="onFocus(0)"
          (ionBlur)="onBlur()">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          formControlName="lastName"
          label="Last Name"
          labelPlacement="stacked"
          placeholder="Last name"
          autocapitalize="words"
          clearInput
          (ionFocus)="onFocus(1)"
          (ionBlur)="onBlur()">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-select formControlName="level" label="Level" labelPlacement="stacked" placeholder="Select level">
          <ion-select-option *ngFor="let l of levels" [value]="l.value">{{ l.name }}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </form>
</ion-content>

<ion-footer *ngIf="focusedIndex >= 0">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="focusPrev()" [disabled]="focusedIndex === 0">
        <ion-icon slot="icon-only" name="chevron-up-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="focusNext()" [disabled]="focusedIndex >= 1">
        <ion-icon slot="icon-only" name="chevron-down-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="dismissKeyboard()">Done</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
